.contact {
  
}
label {
  display: block;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  margin-bottom: 5%;
  outline: none;
  padding: 3%;
  border-radius: 5px;
  border: solid 1px #ccc;
  background-color: rgb(182, 178, 178);
}
form {
  width: 60vh;
}
.contacts {
  font-size: 34px;
}
@media Screen and (max-width: 767px){
  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
 .contacts{
  font-size: 2rem
 }
}
.myContact{
  color: rgb(184, 180, 180);
  font-size: 1.5rem;
}
.submit{
  float: right;
}
