#about {
  background-color: #fffcf6;
}

.image-container img {
  border-radius: 50%;
  padding: 10px;
}
h1 {
  font-family: "Great Vibes", cursive;
  font-size: 5rem;
  text-align: center;
}

.about {
  text-align: justify;
}
.hello-text {
  font-size: xx-large;
}
@media screen and (max-width: 767px) {
  .image-container img {
    width: 80%;
    margin: 0 auto;
  }
  .about {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .image-container {
    width: 50%;
  }
  .about {
    width: 40%;
  }
  .image-container img {
    width: 60%;
    margin: 0 auto;
  }
  .image-about-contain {
    display: flex;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeInAnimation 3s ease forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.icons > * {
  margin-bottom: 1rem;
  color: black !important;
  font-size: larger;
  /* background-color: black; */
}
