.userDetails {
  text-align: center;
}
.image-container {
  position: relative;
  display: inline-block;
  margin-bottom: 3em;
}
.userDetails img {
  display: block;
  max-width: 100%;
  border-radius: 50%;
  padding: 10px;
}
.rotating-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px dashed #007bff; /* Border color and size */
  border-radius: 50%; /* Makes it a circular border */
  animation: rotateBorder 320s linear infinite; /* Adjust duration and timing function as needed */
}
@keyframes rotateBorder {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.userDetails h2 {
  font-size: 32px;
}
.userDetails h3 {
  font-size: 96px;
}
.userDetails p {
  font-style: italic;
}
span {
  color: rgb(247, 240, 61);
}
