button {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 20px;
  outline: none;
  border: none;
}

.btnContainer {
  display: flex;


}
.btnContainer button {
  background-color: rgb(118, 118, 122);
  color:#fff;
}
.btnContainer button:hover {
  background-color: #c5c0c0;
}

