button {
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 20px;
  outline: none;
  border: none;
}

.btnContainer {
  display: flex;
  justify-content: center;
}
.btnContainer button {
  background-color: rgb(186, 186, 214);
}
.btnContainer button:hover {
  background-color: rgb(3, 3, 87);
  color: #ccc;
}
