nav {
  background-color: lightgreen;
  padding: 1.5rem;
  align-items: center;
}
nav img {
  width: 100%;
  max-width: 50px;
  border-radius: 50%;
  margin-right: auto;
  border: 1px solid green;
  padding: 3px;
}
ul {
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
