.proejctTile {
  width: 100%;
  margin-bottom: 2em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  justify-content: space-between;
}
.projectDetails {
  width: 50%;
  padding: 3em 5em;
}
.projectDetails > * {
  margin-block: 1.5em;
}
.projectThumbnail {
  width: 50%;
}
.projectDetails p {
  width: 50ch;
}
.projectThumbnail img {
  text-align: left;
}
