.icon {
  font-size: 60px;
  display: grid;
  place-content: center;
  
}
.card {
  padding: 1rem;

}
/*.card > * {
  margin-block: 1em;
}*/
.title {
  font-weight: bold;
  padding: 0;
  margin: 0;
}

