.icon {
  font-size: 60px;
  
}
.card {
  padding: 1rem;

}
.card > * {
  margin-block: 1em;
}
.title {
  font-weight: bold;
}
@media Screen and (max-width: 600px){
  .card{
    min-width:60%
  }
  .title {
    font-size: 40%;
  }
}
