.skillContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

@media screen and (max-width: 750px) {
  .skillContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .skillContainer {
    grid-template-columns: 1fr;
  }
}

.skill {
  font-size: 32px;
}
