
.skillContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  
}
@media screen and (max-width: 768px) {
  .skillContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
  }
}

@media screen and (max-width: 360px) {
  .skillContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:repeat(2, 1fr);
  }
}

.skill {
  font-size: 34px;
  
}
