.container {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 786px) {
  .container {
    width: 95%;
  }
}
.flex {
  display: flex;
}
.flex-direction-row {
  flex-direction: row;
}
.flex-direction-column {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.gap-1x {
  gap: 1em;
}
.gap-2x {
  gap: 3em;
}
.gap-3x {
  gap: 6em;
}
.mx-auto {
  margin-inline: auto;
}
.pointer {
  cursor: pointer;
}
.flex-wrap {
  flex-wrap: wrap;
}
.text-center {
  text-align: center;
}
.link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* Hello */
}
.justify-space-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: end;
}
.text-right {
  text-align: right;
}
.grid {
  display: grid;
}
.justify-baseline {
  justify-content: baseline;
}
.justify-content {
  justify-content: center;
}
