.container {
  width: 100%;
  /* width: 1280px; */
  margin: 0 auto;
}
.flex {
  display: flex;
}
.flex-direction-row {
  flex-direction: row;
}
.flex-direction-column {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.gap-1x {
  gap: 1em;
}
.gap-2x {
  gap: 3em;
}
.gap-3x {
  gap: 6em;
}
.mx-auto {
  margin-inline: auto;
}
.pointer {
  cursor: pointer;
}
.flex-wrap {
  flex-wrap: wrap;
}
