.flex {
  display: flex;
}
.flex-direction-row {
  flex-direction: row;
}
.flex-direction-column {
  flex-direction: column;
}
.gap-1 {
  gap: 1em;
}
.mx-auto {
  margin-inline: auto;
}
.pointer {
  cursor: pointer;
}
